{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block head %}
{{ super() }}
{# SE FOR COLOCAR ALGUM STYLE PERSONALIZADO, COLOQUE AQUI #}
{# <style>

</style> #}
{% endblock head %}

{% block header_title %}Login{% endblock header_title %}

{% block main %}
{# AQUI VOCÊ VAI COLOCAR TODO O CONTEUDO DA PÁGINA, IMAGINE QUE ISSO É UMA TAG MAIN #}

<div class="card">
    <div class="card-header">Login</div>
    <div class="card-body">
        <form action="{{ url_for('login') }}" method="post">
            <label class="form-label" for="email">Email</label>
            <input class="form-control bg-dark-subtle" type="text" id="email" name="email" placeholder="Digite seu email" required>

            <label class="form-label" for="senha">Senha</label>
            <input class="form-control bg-dark-subtle" type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
            
            <button class="btn btn-info" style="margin-top: 0.7em;" type="submit">Entrar</button>
            {#

            lista de mensagens com a estrutura:
            [('categoria', 'mensagem'), ('error', 'Erro ao enviar formulário')]
            
            #}
            {% with messages = get_flashed_messages(with_categories=true) %} 
                <ul>
                {% for category, message in messages %}
                    
                        <li class="{{ category }}">    
                            {{ message }}
                        </li>
                {% endfor %}
                </ul>
                    
            {% endwith %}
        </form>
    </div>
</div>
{% endblock main %}
