* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Verdana, Helvetica, sans-serif, Arial;
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 15%;
}
header div{
    padding: 0 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

form{
    width: 30em;
    display: flex;
    flex-direction: column;
}

.form-control{
    margin-bottom: 0.2em;
}

label{
    user-select: none;
}