* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

form{
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    
    border: 1px solid rgb(0, 0, 0);
    color: black;
    background-color: blue;

    
}