{% extends "base.html" %}

{% block title %}Cadastro{% endblock title %}
{% block head %}
    {{ super() }}
    

    <style>
        label{
            font-size: 0.78em;
        }
    </style>
    <script>
        function mostrar(){
            const input = document.getElementById('senha')
            if ( input.type === 'password'){
                input.type = 'text'
            }
            else{
                input.type = 'password'
            }
        }
    </script>
{% endblock head %}

{% block header_title %}
Cadastro
{% endblock header_title %}

{% block main %}
    <form action="{{ url_for('cadastro') }}" method="post">
        <input type="text" name="login" placeholder="Digite um login">
        <input type="password" id="senha" name="senha" placeholder="Digite uma senha">
        <span>
            <label style="color: rgba(230, 30, 30, 0.53);" for="senha">
                * A senha deve ter ao menos 5 caracteres
            </label>
            <input class="form-check-input" onclick="mostrar()" id="mostrar_senha" type="checkbox" value="teste">
            <label class="form-check-label" for="mostrar_senha">Mostrar senha</label>
        </span>
        <button class="btn btn-success" type="submit">Cadastrar</button>
    </form>
{% endblock main %}
    
