{% extends "base.html" %}

{% block title %}Produtos{% endblock title %}

{% block head %}
{{ super() }}
{# SE FOR COLOCAR ALGUM STYLE PERSONALIZADO, COLOQUE AQUI #}
{# <style>

</style> #}
{% endblock head %}

{% block header_title %}Produtos{% endblock header_title %}

{% block main %}
{# AQUI VOCÊ VAI COLOCAR TODO O CONTEUDO DA PÁGINA, IMAGINE QUE ISSO É UMA TAG MAIN #}
<form action="{{url_for('carrinho')}}" method="POST">
    <div class="card">
        <ul class="list-group list-group-flush">
            {% for produto in produtos %}   
            <li class="list-group-item">
                <label class="form-check-label" for="{{ produto[0] }}">{{ produto[0] }} - R$ {{ produto[1] }}</label>
                <input class="form-check-input" type="checkbox" id="{{ produto[0]}}" placeholder="Selecionar" name="{{ produto[0] }}">  
            </li>
            {% endfor %}
        </ul>
        <div class="card-footer">
            <button class="btn btn-success" style="width: 100%;" type="submit">Enviar produtos ao carrinho</button>
        </div>
        
    </div>
    
</form>
{% endblock main %}
